In [46]:
import pandas as pd
import time
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
import matplotlib.pyplot as plt
import os
import logging


## Setup chrome options
chrome_options = Options()
chrome_options.add_argument("--headless") # Ensure GUI is off
chrome_options.add_argument("--no-sandbox")


# Silent download of drivers
logging.getLogger('WDM').setLevel(logging.NOTSET)
os.environ['WDM_LOG'] = 'False'


# Create service
webdriver_service = Service(ChromeDriverManager().install())

# Create driver
driver = webdriver.Chrome(service = webdriver_service, options = chrome_options)

In [47]:
url = "https://www.goodreads.com/quotes?ref=nav_comm_quotes"
ls = []

for i in range(1, 5):

    driver.get(url + str(i))
    time.sleep(5)
    driver.find_element(By.CLASS_NAME,"next_page").click()

    # Find quotes
    quotes = driver.find_elements(By.CLASS_NAME,"quoteText")


    for category in quotes:
        authorOrTitle = category.find_element(By.CLASS_NAME,"authorOrTitle").get_attribute('innerHTML')
        book_name = category.text
        ls.append({'Quotes': book_name, "Author": authorOrTitle})

pd.DataFrame(ls)

,Quotes,Author
0,"“Only once in your life, I truly believe, you ...",\n Bob Marley\n
1,"“All that is gold does not glitter,\nNot all t...","\n J.R.R. Tolkien,\n"
2,"“It is our choices, Harry, that show what we t...","\n J.K. Rowling,\n"
3,"“The person, be it gentleman or lady, who has ...","\n Jane Austen,\n"
4,"“Imperfection is beauty, madness is genius and...",\n Marilyn Monroe\n
...,...,...
115,"“Outside of a dog, a book is man's best friend...","\n Groucho Marx,\n"
116,“I am enough of an artist to draw freely upon ...,\n Albert Einstein\n
117,"“Love all, trust a few, do wrong to none.”\n― ...","\n William Shakespeare,\n"
118,"“I like nonsense, it wakes up the brain cells....",\n Dr. Seuss\n
119,“Have you ever been in love? Horrible isn't it...,"\n Neil Gaiman,\n"

In [48]:
data = pd.DataFrame(ls)
data.head()

,Quotes,Author
0,"“Only once in your life, I truly believe, you ...",\n Bob Marley\n
1,"“All that is gold does not glitter,\nNot all t...","\n J.R.R. Tolkien,\n"
2,"“It is our choices, Harry, that show what we t...","\n J.K. Rowling,\n"
3,"“The person, be it gentleman or lady, who has ...","\n Jane Austen,\n"
4,"“Imperfection is beauty, madness is genius and...",\n Marilyn Monroe\n

In [49]:
data.to_csv('file.csv',encoding='utf-8-sig')